@media screen and (min-width: 1900px) {
    #header {
        background-size: 100%;
    }
}

@media screen and (max-width: 1210px) {
    #header-container, #territory-container, #offer-container, #spa, #stock, #masters, #questions, #contacts, #footer {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        width: 100%;
    }

    #masters-photo .slick-prev:before {
        left: 465px;
    }

    #masters-photo .slick-next:before {
        right: 500px;
    }

    #accordion {
        max-width: 600px;
    }

    iframe {
        max-width: 700px;
    }
}

/*1024-1199*/
@media screen and (max-width: 1199px) {
    #territory-container {
        padding-top: 130px;
        padding-bottom: 170px;
    }

    #masters-photo .slick-prev:before {
        left: 409px;
        bottom: -190px;
    }

    #masters-photo .slick-next:before {
        right: 560px;
        top: 190px;
    }

    .slick-prev:before {
        left: 210px;
        bottom: -201px
    }

    .slick-next:before {
        right: 430px;
        bottom: -201px;
    }

    #spa-info-container h2 {
        text-align: center;
    }

    #spa-text {
        margin: 31px auto 45px auto;
    }

    #spa-items {
        flex-wrap: wrap;
        max-width: 600px;
        margin: 0 auto;
        justify-content: space-evenly;
    }

    #spa-container {
        padding: 110px 0;
    }

    .spa-item {
        margin-top: 20px;
    }

    #circle-big {
        display: none;
    }

    #masters-container {
        padding: 70px 0 100px 0;
    }

    #masters .title {
        text-align: center;
    }

    #master-text {
        max-width: 505px;
        padding-bottom: 32px;
        text-align: center;
        margin: 0 auto;
    }

    #masters-photo img {
        max-width: 350px;
    }

    #gallery-text {
        margin: 30px auto 40px auto;
    }

    #gallery-container .slick-list {
        max-width: 850px;
        margin: 0 auto;
    }

    #gallery-photo img {
        width: 350px;
    }

    #gallery-container .slick-dotted.slick-slider {
        margin-bottom: 100px;
    }

    .wait-description {
        margin-left: 50px;
    }

    #contacts-container {
        max-width: 1000px;
        padding-bottom: 150px;
    }

    #call-me {
        max-width: 350px;
    }

    #location {
        margin-left: 10px;
    }

    #time-info {
        margin-left: 90px;
    }

    iframe {
        max-width: 600px;
    }
}


@media screen and (max-width: 1130px) {
    .slick-slider .slick-list {
        max-width: 740px;
        margin: 0 auto;
    }

}

/*768-1023*/
@media screen and (max-width: 1023px) {
    #header-menu-container {
        width: 249px;
    }

    .header-number {
        margin-left: 0;
    }

    #territory-container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #territory-info {
        max-width: 450px;
    }

    h1 {
        font-size: 25px;
        line-height: 38px;
    }

    #territory-description {
        font-size: 17px;
        margin: 32px 0;
    }

    #offer-container {
        padding-top: 70px;
    }

    .wait-description {
        width: 360px;
        margin-left: 0;
    }

    .wait-image img {
        width: 80px;
    }

    .wait-info {
        max-width: 204px;
    }

    #spa-container {
        padding: 70px 0;
    }

    .spa-item {
        width: 250px;
    }

    .spa-item-img img {
        width: 250px;
    }

    .spa-info-title {
        margin: 0 0 25px 0;
    }

    .title {
        font-size: 23px;
    }

    #stock-container {
        padding: 100px 0;
    }

    #stock-text {
        width: 310px;
        font-size: 15px;
    }

    #rose-stock {
        top: 45px;
    }

    #masters-photo .slick-prev:before {
        left: 268px;
    }

    #masters-photo .slick-next:before {
        right: 436px;
    }

    .slick-prev:before {
        left: 215px;
    }

    .slick-next:before {
        right: 274px;
    }

    #questions-container h2 {
        margin-bottom: 0;
        text-align: center;
        margin-top: 0;
    }

    #questions-container {
        max-width: 600px;
        padding: 65px 0 110px 0;
    }

    .ui-accordion .ui-accordion-header {
        padding: 20px;
    }

    .ui-accordion .ui-accordion-content {
        padding: 0 20px;
    }

    .ui-accordion p {
        padding: 15px 0;
    }

    #ui-id-2 {
        height: 90px;
    }

    #call-me {
        margin-left: 100px;
        padding: 14px 19px;
        max-width: 400px;
    }

    #call-text, #call-text .header-number {
        font-size: 14px;
    }

    #call-text {
        margin-bottom: 20px;
    }

    #bg-footer {
        display: none;
    }

    #main-contacts {
        max-width: 760px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #time-info {
        margin: 0;
    }

    #rose-footer {
        display: none;
    }

    #contacts-title {
        margin-bottom: 20px;
        font-size: 33px;
    }

    .info-title {
        font-size: 18px;
    }

    .info-text {
        font-size: 14px;
    }

    #location {
        margin-top: 20px;
    }

    #contacts-container {
        padding-bottom: 45px;
    }

    #messagers {
        margin-right: 0;
        max-width: 170px;
    }
}


/*580-767*/
@media screen and (max-width: 767px) {
    #header-menu-container {
        width: 240px;
    }

    #offer-container {
        text-align: center;
    }

    #spa-text {
        margin: 20px auto;
    }

    #master-name, #masters-photo {
        width: 350px;
    }

    #masters-photo img {
        width: 100%;
    }

    #masters-photo {
        width: 350px;
        margin: 0 auto;
    }

    #masters-photo .slick-prev:before {
        left: 80px;
    }

    #masters-photo .slick-next:before {
        right: 195px;
    }

    #gallery-text {
        max-width: 540px;
        text-align: center;
    }

    #gallery-photo img {
        margin: 0 auto;
    }

    .slick-next:before {
        right: 164px;
    }

    .slick-prev:before {
        left: 110px;
    }

    #accordion {
        max-width: 540px;
    }

    .ui-accordion .ui-accordion-header {
        font-size: 16px;
    }

    #call-me {
        margin-left: 80px;
    }

    iframe {
        max-width: 510px;
        height: 320px;
    }

    #contacts-container {
        padding-bottom: 20px;
    }
}

/*480-579*/
@media screen and (max-width: 579px) {
    #burger {
        display: block;
    }

    #header-menu-container {
        left: 0;
        top: 0;
        position: fixed;
        display: none;
        background: rgba(0, 0, 0, 0.8);
        z-index: 3;
        width: 100%;
        text-align: center;
        padding: 41px 0;

    }

    #header-menu-container a {
        display: block;
        width: auto;
        color: white;
        margin: 20px auto;
    }

    #header-menu.menu-open #header-menu-container {
        display: block;
    }

    #header {
        background-size: cover;
    }

    h1 {
        width: 300px;
        font-size: 20px;
        line-height: 28px;
    }

    h1 .logo {
        font-size: 50px;
    }

    br {
        display: none;
    }

    #territory-description {
        font-size: 16px;
        margin: 22px 0;
        max-width: 312px;
    }

    #spa-text {
        max-width: 440px;
        text-align: center;
    }

    #gallery-text, #master-text {
        max-width: 440px;
    }

    .title {
        margin: 0;
        font-size: 19px;
    }

    #spa-lavender {
        display: none;
    }

    .slick-next:before {
        right: 110px;
    }

    .slick-prev:before {
        left: 60px;
    }

    #accordion {
        max-width: 440px;
    }

    #ui-id-2 {
        height: 100px;
    }

    #call-me {
        margin-left: 24px;
    }

    #call-text {
        margin-bottom: 10px;
    }

    .info-text {
        font-size: 13px;
    }

    iframe {
        max-width: 420px;
    }

    #messagers img {
        height: 20px;
    }

    #messagers {
        max-width: 130px;
    }
    #reservation-content {
        padding: 44px;
    }
    #reservation-sent {
        width: 362px;
        padding: 139px 70px;
    }
}


/*320-479*/
@media screen and (max-width: 479px) {
    .logo {
        font-size: 40px;
    }

    .logo-text {
        font-size: 6px;
    }

    .header-number {
        font-size: 9px;
        width: auto;
    }

    h1 {
        width: 260px;
    }

    #territory-description {
        line-height: 18px;
    }

    #territory-container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #masters-photo button#slick-slide-control01::before, #masters-photo button#slick-slide-control00::before {
        content: '2';
        margin-left: 40px;
    }
    #gallery-container .slick-dots li button:before {
        margin-top: 64px;
    }
    .wait-image img {
        width: 60px;
    }

    .wait-info {
        margin-left: 10px;
        max-width: 200px;
        font-size: 13px;
    }

    .wait-description {
        width: 270px;
    }

    #spa-text {
        max-width: 100%;
        font-size: 13px;
    }

    #stock-container {
        padding: 50px 0;
    }

    #stock-text {
        width: 150px
    }
    #spa-rose {
        display: none;
    }
    #circle-small {
        display: none;
    }

    #masters-photo {
        width: 300px;
    }

    #masters-photo .slick-prev:before {
        left: 88px;
        bottom: -157px;
    }

    #masters-photo .slick-next:before {
        right: 180px;
        top: 158px;
    }

    #gallery-photo img {
        width: 100%;
        margin: 0 20px;
    }

    img.slick-slide.slick-current.slick-active {
        width: 300px;
    }

    .slick-next:before {
        right: 14px;
    }

    .slick-prev:before {
        left: 14px;
    }

    #accordion {
        max-width: 280px;
    }

    .ui-accordion .ui-accordion-content {
        font-size: 13px;
    }

    #ui-id-2 {
        height: 147px;
    }

    .ui-accordion .ui-accordion-header {
        font-size: 14px;
    }

    .ui-icon-triangle-1-s, .ui-icon-triangle-1-e {
        right: 10px;
    }

    .ui-state-active .ui-icon {
        right: 10px;
    }

    .ui-accordion .ui-accordion-header {
        padding: 20px 36px 19px 20px;
    }

    #call-me {
        margin-left: 20px;
        max-width: 240px;
    }

    #call-text {
        font-size: 13px;
        line-height: 18px;
    }

    #call-me input, #call-me .btn {
        width: 210px;
    }

    #main-contacts {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #contacts-info {
        margin-bottom: 15px;
    }

    iframe {
        max-width: 255px;
        height: 270px;
    }
    .slick-initialized .slick-slide, #gallery-photo .slick-slide {
        margin: 0 15px;
        width: 260px;
    }
    #messagers {
        max-width: 80px;
    }
    #messagers img {
        height: 14px;
    }
    #reservation .reservation-cancel {
        position: absolute;
        top: -60px;
        right: 0;
    }
        #reservation-content {
            padding: 10px;
        }
    #reservation-sent {
        width: 290px;
        padding: 102px 70px;
    }
    .instagram{
        height: 18px;
    }
    .facebook{
        height: 13px;
    }
}

