@media screen and (min-width: 1900px) {
    #header {
        background-size: 100%;
    }
}

@media screen and (max-width: 1229px) {
    #header-container, #territory-container, #offer-container, #spa, #stock, #masters, #questions, #contacts, #footer {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        width: 100%;
    }

    .wait-description {
        margin-left: 135px;
    }

    #circle-small {
        display: none;
    }

    #circle-big {
        position: absolute;
        left: -187px;
    }

    #masters-photo, #gallery-photo {
        max-width: 1165px;
    }

    #masters-photo img, #gallery-photo img {
        width: 365px;
    }

    #masters-photo .slick-prev:before {
        left: 555px;
    }

    #masters-photo .slick-next:before {
        right: 585px;
    }

    .slick-next:before {
        right: 445px;
    }

    .slick-prev:before {
        left: 445px;
    }

    #accordion {
        max-width: 600px;
    }


    iframe {
        max-width: 700px;
    }
}

/*1024-1199*/
@media screen and (max-width: 1199px) {
    #territory-container {
        padding-top: 130px;
        padding-bottom: 170px;
    }

    #masters-photo, #gallery-photo {
        max-width: 740px;
    }

    #masters-photo .slick-prev:before {
        left: 325px;
        bottom: -193px;
    }

    #masters-photo .slick-next:before {
        right: 356px;
        top: 193px;
    }

    .slick-prev:before {
        left: 250px;
    }

    .slick-next:before {
        right: 250px;
    }

    #spa-info-container h2 {
        text-align: center;
    }

    #spa-text {
        margin: 31px auto 45px auto;
        text-align: center;
    }

    #spa-items {
        flex-wrap: wrap;
        max-width: 600px;
        margin: 0 auto;
        justify-content: space-evenly;
    }

    #spa-container {
        padding: 110px 0;
    }

    .spa-item {
        margin-top: 20px;
    }


    #circle-big {
        display: none;
    }

    #masters-container {
        padding: 70px 0 100px 0;
    }

    #masters .title {
        text-align: center;
    }

    #master-text {
        max-width: 505px;
        padding-bottom: 32px;
        text-align: center;
        margin: 0 auto;
    }

    #masters-photo button#slick-slide-control02::before {
        display: block;
    }

    #masters-photo img {
        max-width: 350px;
    }

    #gallery-text {
        margin: 30px auto 40px auto;
        text-align: center;
    }

    #gallery-container .slick-list {
        max-width: 850px;
        margin: 0 auto;
    }

    #gallery-photo img {
        width: 350px;
    }

    #gallery-container .slick-dotted.slick-slider {
        margin-bottom: 100px;
    }

    .wait-description {
        margin-left: 48px;
    }

    #contacts-container {
        max-width: 1000px;
        padding-bottom: 150px;
    }

    #call-me {
        max-width: 350px;
    }

    #location {
        margin-left: 10px;
    }

    #time-info {
        margin-left: 90px;
    }

    iframe {
        max-width: 600px;
    }
}


/*771-1023*/
@media screen and (max-width: 1023px) {
    #header-menu-container {
        width: 249px;
    }

    .header-number {
        margin-left: 0;
    }

    #territory-container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #territory-info {
        max-width: 450px;
    }

    h1 {
        font-size: 25px;
        line-height: 38px;
    }

    #territory-description {
        font-size: 17px;
        margin: 32px 0;
    }

    #offer-container {
        max-width: 770px;
        padding-top: 70px;
    }

    #offer-container h2 {
        text-align: center;
    }

    .wait-description {
        width: 360px;
        margin-left: 0;
    }

    .wait-image img {
        width: 80px;
    }

    .wait-info {
        max-width: 204px;
    }

    #spa-container {
        padding: 70px 0;
    }

    .spa-item {
        width: 250px;
    }

    .spa-item-img img {
        width: 250px;
    }

    .spa-info-title {
        margin: 0 0 25px 0;
    }

    .title {
        font-size: 23px;
    }

    #stock-container {
        padding: 100px 0;
    }

    #stock-text {
        width: 310px;
        font-size: 15px;
    }

    #rose-stock {
        top: 45px;
    }

    #questions-container h2 {
        margin-bottom: 0;
        text-align: center;
        margin-top: 0;
    }

    #questions-container {
        max-width: 600px;
        padding: 65px 0 110px 0;
    }

    .ui-accordion .ui-accordion-header {
        padding: 20px;
    }

    .ui-accordion .ui-accordion-content {
        padding: 0 20px;
    }

    .ui-accordion p {
        padding: 15px 0;
    }

    #ui-id-2 {
        height: 90px;
    }

    #call-me {
        margin-left: 100px;
        padding: 14px 19px;
        max-width: 400px;
    }

    #call-text, #call-text .header-number {
        font-size: 14px;
    }

    #call-text {
        margin-bottom: 20px;
    }

    #bg-footer {
        display: none;
    }

    #main-contacts {
        max-width: 760px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #time-info {
        margin: 0;
    }

    #rose-footer {
        display: none;
    }

    #contacts-title {
        margin-bottom: 20px;
        font-size: 33px;
    }

    .info-title {
        font-size: 18px;
    }

    .info-text {
        font-size: 14px;
    }

    #location {
        margin-top: 20px;
    }

    #contacts-container {
        padding-bottom: 45px;
        max-width: 600px;
    }

    #location {
        margin-left: 0;
    }

    #messagers {
        margin-right: 0;
        max-width: 170px;
    }

    #footer-info {
        width: 350px;
    }
}


/*580-770*/
@media screen and (max-width: 770px) {
    #header-menu-container {
        width: 240px;
    }

    #offer-container {
        text-align: center;
    }

    #spa-text {
        margin: 20px auto;
    }

    /*#master-name, #masters-photo {*/
    /*    width: 350px;*/
    /*}*/
    #masters-photo img {
        width: 100%;
    }

    #masters-photo, #gallery-photo {
        width: 350px;
    }

    #masters-photo button#slick-slide-control03::before, #masters-photo button#slick-slide-control04::before, #masters-photo button#slick-slide-control05::before, #masters-photo button#slick-slide-control06::before {
        display: block;
    }

    #masters-photo .slick-prev:before {
        left: 71px;
    }

    #masters-photo .slick-next:before {
        right: 99px;
    }
    #slick-slide-control07{
        display: none;
    }
    .master-info {
        margin-left: 0;
    }

    #gallery-text {
        max-width: 540px;
        text-align: center;
    }

    #gallery-photo img {
        width: 330px;
        height: 250px;
    }

    /*#gallery-photo img {*/
    /*    margin: 0 auto;*/
    /*}*/
    .img.slick-slide.slick-cloned {
        display: none;
    }

    .slick-next:before {
        right: 35px;
        bottom: -178px;
    }

    .slick-prev:before {
        left: 32px;
        bottom: -178px;
    }

    #questions-container {
        max-width: 550px;
    }

    #accordion {
        max-width: 540px;
    }

    .ui-accordion .ui-accordion-header {
        font-size: 16px;
    }

    #call-me {
        margin-left: 75px;
    }

    iframe {
        max-width: 510px;
        height: 320px;
    }

    #contacts-container {
        padding-bottom: 20px;
        max-width: 500px;
    }

    #contacts-container {
        max-width: 510px;
    }

    #footer-info {
        flex-direction: column;
        width: 165px;
    }

    #time-work {
        font-size: 13px;
    }
}

/*480-579*/
@media screen and (max-width: 579px) {
    #burger {
        display: block;
    }

    #header-menu-container, .modal {
        left: 0;
        top: 0;
        position: fixed;
        display: none;
        background: rgba(0, 0, 0, 0.8);
        z-index: 3;
        width: 100%;
        text-align: center;
        padding: 41px 0;
        height: 100%;
    }


    #header-menu-container a {
        display: block;
        width: auto;
        color: white;
        margin: 20px auto;
    }

    #header-menu-container a:hover {
        color: #c1c78c;
    }

    #header-menu.menu-open #header-menu-container {
        display: block;
        /*position: relative;*/
    }

    #close {
        display: block;
        width: 24px;
        fill: rgb(250, 250, 250);
        position: absolute;
        top: -171px;
        left: 20px;
    }

    #header {
        background-size: cover;
    }

    #territory-container {
        backdrop-filter: blur(3px);
        text-align: center;
    }

    #territory-info .btn {
        margin: 0 auto;
    }

    h1 {
        width: 300px;
        font-size: 25px;
        margin: 0 auto;
    }

    h1 .logo {
        font-size: 50px;
    }

    br {
        display: none;
    }

    #territory-description {
        font-size: 16px;
        max-width: 312px;
        margin: 22px auto;
    }

    #stock-container {
        backdrop-filter: blur(4px);
    }

    #stock-info {
        text-align: center;
    }

    #stock-text {
        width: 300px;
        margin: 30px auto;
    }

    #spa-text {
        max-width: 440px;
        text-align: center;
    }

    #spa {
        overflow: hidden;
    }

    #spa-items {
        max-width: 300px;
    }

    #gallery-text, #master-text {
        max-width: 440px;
    }

    .title {
        margin: 0;
        font-size: 19px;
    }

    #spa-lavender {
        display: none;
    }

    #accordion {
        max-width: 440px;
    }

    #ui-id-2 {
        height: 100px;
    }

    #call-me {
        margin-left: 24px;
    }

    #call-text {
        margin-bottom: 10px;
    }

    .info-text {
        font-size: 13px;
    }

    iframe {
        max-width: 430px;
        margin-left: 10px;
    }

    #contacts-container {
        max-width: 420px;
    }

    #messagers img {
        height: 20px;
    }

    #messagers {
        max-width: 130px;
    }

    #reservation-content {
        padding: 44px;
    }

    #reservation-sent {
        width: 362px;
        padding: 139px 70px;
    }
}


/*320-479*/
@media screen and (max-width: 479px) {
    .logo {
        font-size: 40px;
    }

    .logo-text {
        font-size: 12px;
    }

    .header-number {
        font-size: 9px;
        width: auto;
    }

    h1 {
        width: 260px;
    }

    #territory-container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    /*#masters-photo button#slick-slide-control01::before, #masters-photo button#slick-slide-control00::before {*/
    /*    content: '2';*/
    /*    margin-left: 40px;*/
    /*}*/
    #gallery-container .slick-dots li button:before {
        margin-top: 64px;
    }

    #gallery-photo img {
        width: 252px;
        height: 188px;
        margin: 0 auto;
    }
    #slick-slide-control19{
        display: none;
    }
    .wait-image img {
        width: 60px;
    }

    .wait-info {
        margin-left: 10px;
        max-width: 200px;
        font-size: 13px;
    }

    .wait-description {
        width: 270px;
    }

    #spa-text {
        max-width: 100%;
        font-size: 13px;
    }

    #stock-container {
        padding: 50px 0;
    }

    #stock-text {
        width: 150px
    }

    #spa-rose {
        display: none;
    }

    #circle-small {
        display: none;
    }

    #masters-photo {
        width: 300px;
    }

    #masters-photo .slick-prev:before {
        left: 48px;
        bottom: -160px;
    }

    #masters-photo .slick-next:before {
        right: 77px;
        top: 160px;
    }

    img.slick-slide.slick-current.slick-active {
        width: 300px;
    }

    .slick-next:before {
        right: 70px;
        bottom: -171px;
    }

    .slick-prev:before {
        left: 40px;
        bottom: -171px;
    }
    .slick-list.draggable {
        padding: 0;
    }
    #accordion {
        max-width: 280px;
    }

    .ui-accordion .ui-accordion-content {
        font-size: 13px;
    }

    #ui-id-2 {
        height: 147px;
    }

    .ui-accordion .ui-accordion-header {
        font-size: 14px;
    }

    .ui-icon-triangle-1-s, .ui-icon-triangle-1-e {
        right: 10px;
    }

    .ui-state-active .ui-icon {
        right: 10px;
    }

    .ui-accordion .ui-accordion-header {
        padding: 20px 36px 19px 20px;
    }

    #call-me {
        margin-left: 20px;
        max-width: 240px;
    }

    #call-text {
        font-size: 13px;
        line-height: 18px;
    }

    #call-me input, #call-me .btn {
        width: 210px;
    }

    #main-contacts {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #contacts-info {
        margin-bottom: 15px;
    }

    #contacts-container {
        max-width: 290px;
    }

    iframe {
        max-width: 255px;
        height: 270px;
    }

    .slick-initialized .slick-slide, #gallery-photo .slick-slide {
        margin: 0 15px;
        width: 260px;
    }

    #footer-info {
        align-items: center;
        margin: 12px;
    }

    #footer-container {
        align-items: center;
        flex-direction: column;
    }

    #messagers {
        order: 1;
    }

    #messagers {
        max-width: 80px;
    }

    #messagers img {
        height: 14px;
    }

    #reservation .reservation-cancel {
        position: absolute;
        top: -60px;
        right: 0;
    }
    #reservation .btn {
        margin-top: 0px;
    }
    #reservation-content {
        padding: 25px;
    }

    #reservation-sent {
        width: 290px;
        padding: 102px 70px;
    }

    .instagram {
        height: 18px;
    }

    .facebook {
        height: 13px;
    }
}

